<div class="container">
  <%if @no_user%>
    <h1>THAT USER DON'T EXIST YO</h1>
  <%else%>
    <h1><%=@user.user_name%></h1>
    <p><%=@user.about%></p>
    <a id="profile_comments" href="<%=@user.id%>">Comments</a><br><br>
    <a id="profile_posts" href="<%=@user.id%>">Posts</a>
  <%end%>

  <div id="results">
    <% if @comments %>
      <%= erb :_user_comments, layout: false %>
    <%end%>
    <% if @posts %>
      <%= erb :_user_posts, layout: false %>
    <%end%>
  </div>
</div>
